body {
    margin: 0;
}
#container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgb(220, 220, 220);
    background-color: rgb(240, 152, 240);
}
#tdefault th, #tcombi th {
    background-color: rgb(7, 7, 70);
    color: cornflowerblue;
}
#tdefault td, #tcombi td {
    background-color: cornflowerblue;
    color: rgb(7, 7, 70);
}
#tcebra tr:nth-child(odd) td{
    background-color: rgb(243, 204, 204) ;
}

#tcebra tr:nth-child(even) td{
    background-color: rgb(205, 205, 241);
}

#parrafo{
    float: left;
}
header img {
    width: 100%;
    height: 150px;
}
nav {
    width: 20%;
    float: left;
}
#contenido {
    width: 78%;
    float: right;
    padding-bottom: 30px;
   
}
footer {
    background-color: rgb(162, 76, 74);
    color: rgb(106, 213, 216);
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.cb {
    clear: both;
}
nav ul, nav li {
    padding: 0;
    margin: 0;
}
nav li {
    list-style-type: none;
    text-align: center;
    color: rgb(2, 2, 85);
    font-size: 22px;
    border: solid 1px rgb(2, 2, 85);
    padding: 8px;
    border-radius: 10px;    
    margin-bottom: 4px;
}
nav ul li:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
.texto-blanco {
    color: rgb(243, 243, 247);
    text-align: center;
}
#home {
    text-align: center;
    margin: 0 auto;
}

.titulo {
   
    color: red; 
    font-size: 25px;
    
}
.titulo2 {
    color: rgb(30, 160, 160);
    text-align: center; 
    font-size: 25px;
    background-color: #fff;
}

.diadelas{
    color: rgb(30, 160, 160);
    text-align: center;
    background-color: #fff;
}

.lmsg{
    background-color: #FE8081;
}
.fol{
 background-color: #FFD231;
}
.ing{
    background-color:#EEF1C4;
}
.ende{
    background-color: #8080C0;
}
.prog{
   background-color:  #96DC96;
}
.bdd{
    background-color: #81FF81;
}
.sisi{
    background-color: #C9A0C8;
}
#thorario table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#customo li {
    list-style-type: decimal;
}
#customo li li {
    list-style-type: lower-alpha;
}
#customo li li li{
    list-style-type: lower-roman;
}

#customd li {
    list-style-type: square;
}
#customd li li{
    list-style-image: url(../img/corazon.png);
}
#customd li li li {
    list-style-type: circle;
    list-style-image: none;
}
